.header {
    background-color: #1878ED;
    padding: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    color: #c62222;
}
.header > h1{
    color: white;
    margin: 0;
}
.content > div:nth-child(2n){
    background-color: #f8f8f8;
}
.content > div:last-child{
    background-color: #f8f8f8;
    border-bottom: none;
}

.content > div{
    padding: 20px;
    border-bottom: #d1d1d1 solid 1px;
}
