.affairs {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.affairs_container > div{
    padding: 6px 0;
    border-bottom: #d1d1d1 solid 1px;
}

.affairs_container > div:last-child{
    border-bottom: none;
}

.buttons{
    padding: 10px 0 0 0;
    display: flex;
    gap: 6px;
}
.buttons button{
    color: white;
    font-weight: 600;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.all_button {
    background-color: #1878ED;
}
.high_button{
    background-color: #ED1729;
}
.middle_button{
    background-color: #d3ad30;
}
.low_button{
    background-color: #69af30;
}